<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239444916704-d9gfpaiunp86v3cocmk4o3ivbtirq9v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239444916704-d9gfpaiunp86v3cocmk4o3ivbtirq9v1</string>
	<key>API_KEY</key>
	<string>AIzaSyACcF1jV7mRCFFgnLmxBT2B50aB_jtqO88</string>
	<key>GCM_SENDER_ID</key>
	<string>239444916704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Artable</string>
	<key>PROJECT_ID</key>
	<string>artab-a92d4</string>
	<key>STORAGE_BUCKET</key>
	<string>artab-a92d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239444916704:ios:f83f906103645fb8</string>
	<key>DATABASE_URL</key>
	<string>https://artab-a92d4.firebaseio.com</string>
</dict>
</plist>